canvas {
    position: absolute;
    top: 10%;
    left: 25%;
    background: transparent;
    border: 3px solid black;
    margin: auto;
}

#background {
    z-index: -2;
}

#main {
    z-index: -1;
}

#ship {
    z-index: 0;
}

.score {
    position: absolute;
    top: 10%;
    left: 63%;
    color: #067e00;
    font-family: Courier, sans-serif;
    font-weight: bold;
    cursor: default;
}

.game-over 
{
    position: absolute;
    top: 30%;
    left: 42%;
    color: #067e00;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    cursor: default;
    display: none;
}

.game-over span 
{
    font-size: 20px;
    cursor: pointer;
    position: relative;
    left: 13%;
}

.game-over span:hover 
{
    color: #FFD700;
}

.loading 
{
    position: absolute;
    top: 30%;
    left: 42%;
    color: #067e00;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    cursor: default;
}

.level-up {
    position: absolute;
    top: 30%;
    left: 42%;
    color: #067e00;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    cursor: default;
    display: none;
}

.pause {
    position: absolute;
    top: 30%;
    left: 44%;
    color: #067e00;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    cursor: default;
    display: none;
}

.level {
    position: absolute;
    top: 10%;
    left: 26%;
    color: #067e00;
    font-family: Courier, sans-serif;
    font-weight: bold;
    cursor: default;
}

.audioMuter 
{
    position: absolute;
    top: 64%;
    left: 43%;
    color: #067e00;
    font-family: Courier, sans-serif;
    font-weight: bold;
}

.content
{
    position: absolute;
    top: 70%;
    left: 25%;
    font-family: Courier, sans-serif;
    text-align: center;
}

.title 
{
    position: relative;
    color: #00FFFF;
    font-family: Futura, sans-serif ;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
